# Output files
Docs/Coding-Bible/docs
Docs/ReadabilityStudioAPI/docs
Docs/ReadabilityTestsReference/docs
Resources/Words/Dictionaries/English.txt
Resources/Words/Programming/All Languages.txt
Resources/Words/ProperNouns/Personal.txt
Resources/Words/ProperNouns/Western.txt
Resources/Words/ProperNouns/All.txt
docs/doxygen/html
/tests/bin/
/tests/.vs/
/tests/out/
*.log

# Configuration files
Docs/Coding-Bible/.Rproj.user
Docs/ReadabilityStudioAPI/.Rproj.user
*.db
/.vs
.Rproj.user
.Rhistory
docs/ReadabilityStudioAPI/latex/
docs/ReadabilityStudioAPI/css/
docs/ReadabilityStudioAPI/images/
docs/ReadabilityStudioAPI/R/
docs/ReadabilityStudioAPI/modern-language-association.csl
docs/ReadabilityTestsReference/latex/
docs/ReadabilityTestsReference/css/
docs/ReadabilityTestsReference/images/
docs/ReadabilityTestsReference/R/
docs/ReadabilityTestsReference/data/
docs/ReadabilityTestsReference/modern-language-association.csl
docs/ReadabilityTestsReference/20-ReadabilityTestsEnglish.rmd
docs/ReadabilityTestsReference/21-ReadabilityTestsSpanish.rmd
docs/ReadabilityTestsReference/23-ReadabilityTestsGerman.rmd
docs/ReadabilityTestsReference/91-Citations.rmd
docs/ReadabilityTestsReference/93-Author.rmd
docs/ReadabilityTestsReference/41-ScoringNotes.rmd
